:root {
    --primary-font: 'Roboto',sans-serif;
    --title-font: 'Raleway', sans-serif;
    --primary-accent-color:#4d5ae5;
    --offer-color:#2e2f42;
    --useful-color:#434455; 
}

body{
font-family: 'Roboto', sans-serif;
color:var(--useful-color);
}


.studio{
    color: var(--offer-color)
}

.logo{
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-accent-color);
    text-decoration: none;
}
.list {
    list-style: none;
}
.list .menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--offer-color);
}
.list .first{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--useful-color);
}
.list .src {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--offer-color);
    text-decoration: none;
}
.list .src:hover, .list .src:focus{
    color: #404bbf;

}
.list .first:hover, .list .first:focus{
    color: #404bbf;
}
.comm .mail{
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--useful-color);
}
.comm .mail:hover, .comm .mail:focus{
color:#404bbf;
}