:root {
    --primary-font: 'Roboto',sans-serif;
    --title-font: 'Raleway', sans-serif;
    --primary-accent-color:#4d5ae5;
    --offer-color:#2e2f42;
    --useful-color:#434455; 
    --background-color:#FFFFFF;
}

body{
font-family: 'Roboto', sans-serif;
color:var(--useful-color);
background-color:var(--background-color)
}
.comm {
    font-style: normal;
}

.comm .mail {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--useful-color);
}

.comm .mail:hover,
.comm .mail:focus {
    color: #404bbf;
}

.studio{
    color: var(--offer-color)
}

.logo{
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-accent-color);
    text-decoration: none;
}
.list {
    list-style: none;
}

.list .src {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--offer-color);
    text-decoration: none;
}

.list .src:hover,
.list .src:focus {
    color: #404bbf;
}


.purch{
    background-color:var(--offer-color);
}

.head{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff; 
}

.customb{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.customb:hover, .customb:focus{
 background-color: #404BBF;
}

.listb{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--offer-color);
}

.parag{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--useful-color)
}
.wawd{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--offer-color);

}
.ourt{
    background-color: #F4F4FD;

}
.artc{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--offer-color);

}
